<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<div class="toggleGroup">
  <label>Bereits gespielte Partien anzeigen</label>
  <mat-slide-toggle class="switch" (change)="onChange($event)"></mat-slide-toggle>
</div>

<div class="groups" *ngFor="let dataObject of dataObjects">
  <div class="list">
    <h2>Gruppe {{dataObject.group}}</h2>
    <table mat-table [dataSource]="dataObject.dataSource">

      <ng-container matColumnDef="gameTime">
        <th mat-header-cell *matHeaderCellDef>Datum</th>
        <td mat-cell
            *matCellDef="let gameTableModel">{{gameTableModel.game.gameTime | date:'d MMM y | HH:mm'}}</td>
      </ng-container>

      <ng-container matColumnDef="teamCountry1">
        <th mat-header-cell *matHeaderCellDef>Team 1</th>
        <td mat-cell *matCellDef="let gameTableModel">{{gameTableModel.game.team1.country}}
          <i id="flag1"
             class="em {{gameTableModel.game.team1.countryFlag}}"
             aria-role="presentation"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="goalsTeam1">
        <th mat-header-cell *matHeaderCellDef>Tore von Team 1</th>
        <td mat-cell *matCellDef="let gameTableModel" id="goal1"
        >{{gameTableModel.game.goalsTeam1}}</td>
      </ng-container>

      <ng-container matColumnDef="colon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let gameTableModel">:</td>
      </ng-container>

      <ng-container matColumnDef="goalsTeam2">
        <th mat-header-cell *matHeaderCellDef>Tore von Team 2</th>
        <td mat-cell *matCellDef="let gameTableModel" id="goal2"
        >{{gameTableModel.game.goalsTeam2}}</td>
      </ng-container>

      <ng-container matColumnDef="teamCountry2">
        <th mat-header-cell *matHeaderCellDef>Team 2</th>
        <td mat-cell *matCellDef="let gameTableModel">
          <i id="flag2"
             class="em {{gameTableModel.game.team2.countryFlag}}"
             aria-role="presentation"></i>{{gameTableModel.game.team2.country}}
        </td>
      </ng-container>

      <div>
        <ng-container matColumnDef="tipTeam1">
          <th mat-header-cell *matHeaderCellDef>Tipp Team 1</th>
          <td mat-cell *matCellDef="let gameTableModel">

            <mat-form-field *ngIf="insertingTipIsAllowed(gameTableModel.game); else showTipTeam1">
              <input matInput
                     max="15" type="number"
                     [(ngModel)]="tipTeam1[gameTableModel.game.id]"
                     [formControl]="gameTableModel.formControlTip1" [errorStateMatcher]="matcher">

              <br>
              <mat-error
                *ngIf="gameTableModel.formControlTip1.hasError('pattern') &&
              !gameTableModel.formControlTip1.hasError('required')"></mat-error>
            </mat-form-field>

            <ng-template #showTipTeam1>
              <ng-container *ngIf="getTipByGameId(gameTableModel.game.id) != null; else showDash">
                {{getTipByGameId(gameTableModel.game.id)?.tipTeam1}}
              </ng-container>

              <ng-template #showDash>
                {{dash}}
              </ng-template>
            </ng-template>

          </td>
        </ng-container>

        <ng-container matColumnDef="tipTeam2">
          <th mat-header-cell *matHeaderCellDef>Tipp Team 2</th>
          <td mat-cell *matCellDef="let gameTableModel">
            <mat-form-field *ngIf="insertingTipIsAllowed(gameTableModel.game); else showTipTeam2">
              <input matInput
                     max="15" type="number"
                     [(ngModel)]="tipTeam2[gameTableModel.game.id]"
                     [formControl]="gameTableModel.formControlTip2" [errorStateMatcher]="matcher">

              <br>
              <mat-error
                *ngIf="(gameTableModel.formControlTip2.hasError('pattern')) &&
            !gameTableModel.formControlTip2.hasError('required')"></mat-error>
            </mat-form-field>

            <ng-template #showTipTeam2>
              <ng-container *ngIf="getTipByGameId(gameTableModel.game.id) != null; else showDash">
                {{getTipByGameId(gameTableModel.game.id)?.tipTeam2}}
              </ng-container>

              <ng-template #showDash>
                {{dash}}
              </ng-template>
            </ng-template>

          </td>
        </ng-container>
      </div>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let gameTableModel">
          <button
            mat-stroked-button
            *ngIf="isSavingNewTipAllowed(gameTableModel.game, tipTeam1[gameTableModel.game.id], tipTeam2[gameTableModel.game.id]); else showEditButton"
            disabled="{{!isTipAValidNumber(tipTeam1[gameTableModel.game.id], tipTeam2[gameTableModel.game.id])}}"
            (click)="saveTip(tipTeam1[gameTableModel.game.id], tipTeam2[gameTableModel.game.id], gameTableModel.game)">
            <span class="material-icons">save</span>
          </button>

          <ng-template #showEditButton>
            <button
              mat-stroked-button
              *ngIf="editingTipIsAllowed(gameTableModel.game);"
              (click)="openTipWindow(gameTableModel.game, 'GROUP')">
              <span class="material-icons">edit</span>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Punkte</th>
        <td mat-cell *matCellDef="let gameTableModel"
            style="text-align: center">{{getTipByGameId(gameTableModel.game.id)?.points}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
  </div>
</div>
<p *ngIf="dataObjects.length == 0" id="allGamesOver">Alle Spiele der Gruppenphase sind beendet</p>


