@font-face {
  font-family: 'AktivGroteskRg';
  src:url(src/rsc/fonts/AktivGrotesk_W_Rg.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src:url(src/rsc/fonts/AktivGrotesk_W_Bd.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "AktivGroteskRg", sans-serif;
}
