table.center {
  margin-left: auto;
  margin-right: auto;
}

.list {
  width: 80%;
  margin: 0 10% 2em;
}

.list tr td {
  padding-right: 2em;
  margin-top: 1em;
  width: 20%;
  margin-left: 5%;
}

table {
  width: 100%;
  height: auto;
  border: solid rgba(0, 0, 0, 7%);
}

h2 {
  text-align: center;
  margin-top: 5em
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 6.5%;
  margin-right: 46%;
  margin-left: 46%;

}

li a:hover {
  color: gray;
  text-decoration: underline;
}
