:host /deep/ .mat-button-toggle-group {
  text-align: center !important;
}

:host /deep/ .mat-button-toggle-label-content {
  padding: 0 !important;
  text-align: center;
}

:host /deep/ .mat-button-toggle-checked {
  background-color: black !important;
  color: #FFFFFF !important;
}

.buttons {
  width: 70px;
}

.toggleField {
  height: auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 2em;
  font-family: 'AktivGroteskBd', sans-serif;
  font-size: 28px;
}
