<h1>Spielplan-Gruppenphase</h1>

<div class="toggleField">
  <mat-button-toggle-group class="toggle" [value]="toggle" (change)="toggleView($event)">
    <mat-button-toggle [value]="true" class="buttons">
      Datum
    </mat-button-toggle>
    <mat-button-toggle [value]="false" class="buttons">
      Gruppen
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div *ngIf="toggle">
  <app-game-sort-date></app-game-sort-date>
</div>


<div *ngIf="!toggle">
  <app-game-sort-group></app-game-sort-group>
</div>




