
<h1 style="text-align: center; margin-top: 3em">Rangliste</h1>

<div class="list">
  <table mat-table [dataSource]="userDataSource" matSort matSortDisableClear matSortActive="gameTime"
         matSortDirection="asc">

    <ng-container matColumnDef="ranking">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rang</th>
      <td mat-cell *matCellDef="let user;">{{user.ranking}}.</td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Punkte</th>
      <td mat-cell *matCellDef="let user">{{user.points}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
      <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
      <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Punkte</th>
      <td mat-cell *matCellDef="let user">{{user.points}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

