<h1 style="text-align: center; margin-top: 3em">Ergon-Rangliste</h1>


<div class="content">

  <table class="littleTable" *ngIf="user">
    <tr>
      <th>Name</th>
      <th>Punkte</th>
      <th>Rang</th>
    </tr>
    <tr>
      <td>{{this.user.firstName}} {{this.user.lastName}}</td>
      <td>{{this.user.points}}</td>
      <td *ngIf="this.user.ranking != null; else showMessage ">{{this.user.ranking}}</td>
      <ng-template #showMessage>
        <td>Ranking wird berechnet sobald ein Tipp abgegben wird.</td>
      </ng-template>

    </tr>
  </table>

  <mat-form-field appearance="standard" class="searchbar">
    <mat-label>
      <mat-icon>search</mat-icon>
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Name..." #input>
  </mat-form-field>

  <div class="list" *ngIf="users">
    <table mat-table [dataSource]="userDataSource" matSort matSortDisableClear matSortActive="gameTime"
           matSortDirection="asc">

      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rang</th>
        <td mat-cell *matCellDef="let user;">{{user.ranking}}.</td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Punkte</th>
        <td mat-cell *matCellDef="let user">{{user.points}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
        <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
        <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Kein passender Eintrag gefunden für "{{input.value}}"</td>
      </tr>
    </table>

  </div>
</div>
