<h1 style="text-align: center; margin-top: 3em">Spielplan</h1>

<div class="content">

  <table class="littleTable">
    <tr>
      <th>
        <mat-icon>account_circle</mat-icon>
      </th>
      <th><mat-icon>stars</mat-icon></th>
      <th><mat-icon>public</mat-icon></th>
    </tr>
    <tr>
      <td>{{this.user.firstName}} {{this.user.lastName}}</td>
      <td>{{this.user.points}}</td>
      <td>{{this.user.ranking}}</td>
    </tr>
  </table>

  <mat-form-field appearance="standard" class="list">
    <mat-label style="color: black"><mat-icon style="font-size: 20px">search</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Niculin" #input>
  </mat-form-field>

  <div class="list">
    <table mat-table [dataSource]="userDataSource" matSort matSortDisableClear matSortActive="gameTime"
           matSortDirection="asc">

      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rang</th>
        <td mat-cell *matCellDef="let user;">{{user.ranking}}.</td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Punkte</th>
        <td mat-cell *matCellDef="let user">{{user.points}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
        <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
        <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

  </div>
</div>
