<p>
  <tr *ngFor="let game of getGame()">
    <td>{{game.gameTime}}</td>
    <td>{{game.gameLocation}}</td>
    <td>{{game.pointsTeam1}}</td>
    <td>{{game.pointsTeam2}}</td>
    <td>{{game.teamCountry1}}</td>
    <td>{{game.teamCountry2}}</td>
    <td>
</p>



<!--
<div class="toggle">
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="date"> Datum</mat-button-toggle>
    <mat-button-toggle value="group">Gruppen</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<p></p>
-->
