<div class="textField">
  <h1 style="text-align: center">Spielregeln</h1><br><br>
  <mat-card>
    <h2>Tipp Spiel</h2>
    <p>
      Für jeden Tipp den man abgibt, kann man 0 bis 3 Punkte erhalten.
    </p>
    <h3>Die Punkte werden folgendermassen verteilt:</h3>
    <ul>
      <li>
        Falls man das <b _ngcontent-c1="">exakte Resultat</b> (Tipp: 2:0, Resultat: 2:0) tippt, erhält man 3 Punkte.
      </li>
      <li>
        Falls man die <b _ngcontent-c1="">richtige Tendenz und die richtige Tordifferenz</b> (Tipp: 2:0, Resultat 3:1;
        Unterschied = 2) tippt,<br>erhält man zwei Punkte. Ausnahme: Endet die Partie mit unentschieden, erhält man nur
        einen Punkt.
      </li>
      <li>
        Falls man nur die <b _ngcontent-c1="">richtige Tendenz</b> (Tipp: 2:0, Resultat: 3:2) tippt, erhält man einen
        Punkt.
      </li>
      <li>
        Für einen <b _ngcontent-c1="">falschen Tipp</b> (Tipp: 1:0, Resultat: 0:0) gibt es keine Punkte.
      </li>
    </ul>
    <p>
      Getippt werden kann bis zum Anpfiff des Spiels. Bereits getippte Spiele können bis zum Beginn der Partie geändert
      werden. Das heisst, dass beim Startspiel Katar gegen Ecuador (Anpfiff 20.11. um 17:00 Uhr) bis am 20.11. um 16:59
      Uhr getippt werden kann.
      <br><br> Falls ein Spiel in die Verlängerung oder ins Elfmeterschiessen gehen sollte, zählt das Endresultat und
      nicht der Spielstand nach 90 Minuten.
    </p>
  </mat-card>
  <br>
</div>
