<div class="textField">
  <h1>Spiel Regeln</h1><br>
  <mat-card>
    <h2>Tipp Spiel</h2>
    <p>
      Für jeden Tipp den man abgibt, kann man 0 bis 3 Punkte erhalten.
    </p>
    <h3>Sie werden folgendermaßen verteilt:</h3>
    <ul>
      <li>
        Falls man das <b _ngcontent-c1="">exakte Resultat</b> (Tipp: 2:0, Resultat: 2:0) tippt, erhält man 3 Punkte.
      </li>
      <li>
        Falls man die <b _ngcontent-c1="">richtige Tendenz und die richtige Tordifferenz</b> (Tipp: 2:0, Resultat 3:1,
        Unterschied = 2) tippt,<br>so erhält man zwei Punkte. Dabei gibt es eine Ausnahme: bei Unentschieden erhält man
        nur einen Punkt.
      </li>
      <li>
        Falls man nur die <b _ngcontent-c1="">richtige Tendenz</b> (Tipp: 2:0, Resultat: 3:2) tippt, erhält man einen
        Punkt.
      </li>
      <li>
        Für einen <b _ngcontent-c1="">falschen Tipp</b> (Tipp: 1:0, Resultat: 0:0) gibt es keine Punkte.
      </li>
    </ul>
    <p>
      Getippt werden kann, bis zu Spielbeginn. Bereits getippte Spiele können ebenfalls bis Spielbeginn geändert werden.
      Das heißt, dass das Startspiel Senegal gegen Niederlande (21.11, 11:00) bis 21.11, 10:59 getippt werden könnte.
      <br><br> Falls ein Spiel in die Verlängerung oder ins Elfmeterschießen gehen sollte, zählt das Endresultat und
      nicht der Spielstand nach 90 Minuten.
    </p>
  </mat-card>
  <br>
</div>
