<header>
  <nav>
    <ul>
      <li>
        <a [matMenuTriggerFor]="menu">Spielplan</a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/groupPhase" routerLinkActive="active"
             ariaCurrentWhenActive="page">Gruppenphase</a>
          <a mat-menu-item routerLink="/ko" routerLinkActive="active" ariaCurrentWhenActive="page">K.O.-Phase</a>
        </mat-menu>
      </li>
      <li><a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Ergon-Rangliste</a></li>
      <li><a routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page">WM-Gruppen-Rangliste</a></li>
      <li><a routerLink="/rules" routerLinkActive="active" ariaCurrentWhenActive="page">Regeln</a></li>
      <li class="right" *ngIf="user"><a
        href="https://www.ergon.ch/de/wir/mitarbeitende/{{this.user.firstName.toLowerCase()}}-{{this.user.lastName.toLowerCase()}}"
        target="_blank">
        {{this.user.firstName}} {{this.user.lastName}}
      </a></li>
      <ng-container *ngIf="userIsAdmin">
        <li class="right">
          <a (click)="calculateTips()">calculate</a>
        </li>
      </ng-container>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</header>
