<header>
  <nav>
    <ul>
      <li><a routerLink="/playing-schedule" routerLinkActive="active" ariaCurrentWhenActive="page">Spielplan</a></li>
      <li><a routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">Rangliste</a></li>
      <li><a routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page">Gruppen</a></li>
      <li><a href="">Regeln</a></li>
      <li id="right"><a href="about.asp">Login</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</header>
