<header>
  <nav>
    <ul>
      <li><a routerLink="/games" routerLinkActive="active" ariaCurrentWhenActive="page">Spielplan</a></li>
      <li><a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Rangliste</a></li>
      <li><a routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page">Gruppen</a></li>
      <li><a routerLink="/rules" routerLinkActive="active" ariaCurrentWhenActive="page">Regeln</a></li>
      <li><a routerLink="/tips" routerLinkActive="active" ariaCurrentWhenActive="page">Meine Tipps</a></li>
      <li class="right"><a href="about.asp">Login</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</header>
