<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<h1>Tipp bearbeiten</h1>
<div class="container">
  <mat-form-field>
    <!--                  [ngClass]="{'tip-error': hasError()}"-->
    <div class="container">
      <label>{{data.country1}} <i
        class="em {{data.flag1}}"
        aria-role="presentation"></i> </label>
    </div>
    <input matInput [(ngModel)]="data.tip1" type="number" maxlength="2"
           [formControl]="formControlTip1" [errorStateMatcher]="matcher">

    <br>
    <mat-error
      *ngIf="(formControlTip1.hasError('pattern')) &&
            !formControlTip1.hasError('required')"></mat-error>

  </mat-form-field>
  <mat-form-field>
    <!--                  [ngClass]="{'tip-error': hasError()}"-->
    <div class="container">
      <label>{{data.country2}} <i
        class="em {{data.flag2}}"
        aria-role="presentation"></i> </label>
    </div>
    <input matInput [(ngModel)]="data.tip2" type="number" maxlength="2"
           [formControl]="formControlTip2" [errorStateMatcher]="matcher">
    <br>
    <mat-error
      *ngIf="(formControlTip2.hasError('pattern')) &&
            !formControlTip2.hasError('required')"></mat-error>

  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button id="cancel" mat-button (click)="onNoClick()">Abbrechen</button>
  <button id="ok" mat-button [mat-dialog-close]="data" cdkFocusInitial disabled="{{!isTipAValidNumber(data.tip1, data.tip2, data.phase)}}">
    <p>Speichern</p>
  </button>
</div>
