<div class="list">
  <table mat-table [dataSource]="getGames()">

    <ng-container matColumnDef="gameTime">
      <th mat-header-cell *matHeaderCellDef>Datum</th>
      <td mat-cell *matCellDef="let element">{{element.gameTime}}</td>
    </ng-container>

    <ng-container matColumnDef="gameLocation">
      <th mat-header-cell *matHeaderCellDef>Ort</th>
      <td mat-cell *matCellDef="let element">{{element.gameLocation}}</td>
    </ng-container>

    <ng-container matColumnDef="teamCountry1">
      <th mat-header-cell *matHeaderCellDef>Team 1</th>
      <td mat-cell *matCellDef="let element">{{element.teamCountry1}}</td>
    </ng-container>

    <ng-container matColumnDef="pointsTeam1">
      <th mat-header-cell *matHeaderCellDef>Punkte von Team 1</th>
      <td mat-cell *matCellDef="let element">{{element.pointsTeam1}}</td>
    </ng-container>

    <ng-container matColumnDef="pointsTeam2">
      <th mat-header-cell *matHeaderCellDef>Punkte von Team 2</th>
      <td mat-cell *matCellDef="let element">{{element.pointsTeam2}}</td>
    </ng-container>

    <ng-container matColumnDef="teamCountry2">
      <th mat-header-cell *matHeaderCellDef>Team 2</th>
      <td mat-cell *matCellDef="let element">{{element.teamCountry2}}</td>
    </ng-container>
    <ng-container>
      <td>
        <button id="tippButton">Tipp</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

