@font-face {
  font-family: 'AktivGroteskBd';
  src: url(src/rsc/fonts/AktivGrotesk_W_Bd.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGroteskRg';
  src: url(src/rsc/fonts/AktivGrotesk_W_Rg.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

table {
  width: 100%;
}

.list {
  margin-left: auto;
  width: 70%;
  margin-right: 15%;
  margin-top: 2em;
  border: solid #DEE1E2;
}

.list tr td {
  padding-right: 2em;
  margin-top: 1em;
  font-family: 'AktivGroteskRg', sans-serif;
}

.list th {
  font-family: 'AktivGroteskBd', sans-serif;
  margin-right: 2em;
  color: #404648;
}

.selected-value {
  margin: 15px 0;
}

h2 {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-family: 'AktivGroteskBd', sans-serif;
  font-size: 24px;
}

h1 {
  font-family: 'AktivGroteskBd', sans-serif;
  font-size: 28px;
}

.groups {
  margin-bottom: 3em;
}

button{
  width: 48px;
  height: 48px;
  min-width: 48px;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

input {
  height: 25px;
  left: 0;
  right: 0;
  top: 0;
  width: 30px;
  background: #F0F1F2;
}

mat-form-field {
  width: 13%;
}

.toggleGroup {
  margin-left: 20%;
}

.toggle {
  margin-left: 15px;
  left: 41.18%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

:host /deep/ .mat-slide-toggle-thumb {
  box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}

:host /deep/ .mat-slide-toggle-bar {
  background-color: #DEE1E2;
  border-radius: 7px;
}

:host /deep/ .mat-slide-toggle .mat-ripple-element {
  display: none;
}

:host /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #000000;
  box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.3);
}

:host /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #DEE1E2;
  border-radius: 7px;
}

:host /deep/ .mat-slide-toggle.mat-checked .mat-ripple-element {
  display: none;
}


#goal1{
  text-align: center;
  font-family: 'AktivGroteskBd', sans-serif;
}

#goal2{
  text-align: center;
  font-family: 'AktivGroteskBd', sans-serif;
}

:host /deep/ td.mat-cell.cdk-column-button.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-tipTeam1.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-tipTeam2.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;

}

:host /deep/ td.mat-cell.cdk-column-goalsTeam1.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-goalsTeam2.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-teamCountry1.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-teamCountry2.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-gameTime.ng-star-inserted {
  width: 11% !important;
  min-width: 104px !important;
}

:host /deep/ td.mat-cell.cdk-column-colon.ng-star-inserted {
  width: 1% !important;
}

:host /deep/ td.mat-cell.cdk-column-points.ng-star-inserted {
  width: 12% !important;
}

:host /deep/ td.mat-cell.cdk-column-points.ng-star-inserted {
  width: 12% !important;
  flex: 0 0 25% !important;
}

:host /deep/ th.mat-header-cell.ng-star-inserted {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

:host /deep/ td.mat-cell.ng-star-inserted {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

#flag2 {
  float: left;
}

#flag1 {
  float: right;
}
