@font-face {
  font-family: 'AktivGroteskBd';
  src: url(src/rsc/fonts/AktivGrotesk_W_Bd.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGroteskRg';
  src: url(src/rsc/fonts/AktivGrotesk_W_Rg.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

table {
  width: 100%;
}

.list {
  margin-left: auto;
  width: 60%;
  margin-right: 20%;
  margin-top: 2em;
  border: solid #DEE1E2;
}

.list tr td {
  padding-right: 2em;
  margin-top: 1em;
  font-family: 'AktivGroteskRg', sans-serif;
}

.list th {
  font-family: 'AktivGroteskBd', sans-serif;
  margin-right: 2em;
  color: #404648;
}

.selected-value {
  margin: 15px 0;
}

h2 {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-family: 'AktivGroteskBd', sans-serif;
  font-size: 24px;
}

h1 {
  font-family: 'AktivGroteskBd', sans-serif;
  font-size: 28px;
}

.groups {
  margin-bottom: 3em;
}

input {
  height: 25px;
  left: 0;
  right: 0;
  top: 0;
  width: 30px;
  background: #F0F1F2;
}

mat-form-field {
  width: 13%;
}
